# Python
_pycache_/
*.py[cod]
*.pyo

# Virtual env
env/
venv/
ENV/
*.env

# Django files
*.sqlite3
db.sqlite3

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static/media (jika disimpan secara lokal)
staticfiles/
media/

# Logs
*.log

# Node modules (jika pakai frontend build)
node_modules/

# Migrations (opsional)
*/migrations/.pyc
*/migrations/.pyo
**/migrations/_pycache_/
